.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.animate {
  animation: scroll 45s linear infinite;
}
