.moving-banner {
  overflow: hidden;
}

.banner-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content-group {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 200%;
  animation: marquee 10s linear infinite;
}

.content {
  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
