.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: transparent;
}

.blob-1 {
  position: fixed;
  margin-left: 50rem;
  z-index: -1000;
}

.blob-2 {
  position: fixed;
  align-items: center;
  margin-top: 10rem;
  margin-left: 10rem;
  z-index: -999;
}
