.header-text-container {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 50%;
  margin-left: -20%;
  margin-top: -5%;
  height: auto;
  justify-content: space-evenly;
}

.decor-svg {
  height: 15px;
  width: 15px;
}

.image-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1400px;
  margin-top: 40px;
  z-index: 1;
}

.logo {
  height: 8.75rem;
  width: 8.75rem;
  scale: 1;
  animation: rotate 15s linear infinite;
  transition: all 1s ease-in-out;
}

.logo:hover {
  height: 11rem;
  width: 11rem;
  animation: jump 1s ease-in-out infinite,
    rotate 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  color: red;
}

.wavy {
  position: fixed;
  top: 5.6rem;
  width: 20%;
  height: 50px;
  background: transparent;
  color: transparent;
  margin-right: 110rem;
  overflow: hidden;
}

.wavy::before {
  font-family: "Courier New", Courier, monospace;
  top: -2rem;
  content: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa";
  position: absolute;
  font-size: 2em;
  color: transparent;
  text-decoration-style: wavy;
  text-decoration-color: violet;
  text-decoration-line: underline;
  z-index: 100;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(-53px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes jump {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
