:root {
  --bg-color: hsl(256, 33, 10);
  --dot-color: hsl(256, 33, 70);
  --dot-size: 1px;
  --dot-space: 22px;
}

.news-container-container {
  z-index: -1;
  height: 100%;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.news-container {
  height: 100%;
  padding: 2rem;
  width: 81%;
  z-index: -1;
  margin: 3rem auto;
}

.heading-slide-news {
  margin-left: 9.8rem;
  margin-top: 2rem;
  position: absolute;
  color: violet;
  width: auto;
  background-color: white;
  text-align: center;
}

.column-right {
  position: absolute;
  display: flex;
  gap: 80px;
  height: 120%;
  margin-top: auto;
  margin-bottom: auto;
  width: 7%;
  margin-left: 90vw;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-family: monospace;
  left: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: white;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
  margin-top: 6.5%;
}
